 /* font-family: 'Lobster', cursive;
font-family: 'Quicksand', sans-serif;  */

 h1,h2,h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase; 
 }

 h1{
     font-size: 70px
 }

h2{

}
h3 {

}
p{
    font-family: 'Quicksand', sans-serif;
}
.button {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px 40px;
    text-transform: lowercase;
    border-radius: 5px;
    margin: 10px;
}


/* Header Styles */

header {
    height: 90px;
    background: #CDE6F5;
    padding-top: 20px;
}
